mat-card{
    width: 50%;
    height: 50vh;
    margin: 5% 0% 0 25%;
}

.example-spacer {
    flex: 1 1 auto;
  }

  mat-list{
      height: 45vh;
      overflow: auto;
  }
  
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #FFF;
  }

  mat-card:hover ::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,.26);
  }


::-webkit-scrollbar {
    height: 4px;
    width: 4px;        
}