<mat-card>
    <mat-card-header>
        <mat-card-title>Pacientes en espera</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let paciente of pacientesEspera">
                <img *ngIf="esHombre(paciente.genero); else avatarMujer" matListAvatar src="./././assets/img/avatarHombre.png">
                <ng-template #avatarMujer>
                  <img matListAvatar src="./././assets/img/avatarMujer.png">
                </ng-template>
                {{paciente.nombre}} {{paciente.apellidos}}
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="cancelarConsulta(paciente)" matTooltip="Cancelar consulta">
                    <mat-icon aria-hidden="false" aria-label="Example heart icon">close</mat-icon>
                </button>
            </mat-list-item>              
             </mat-list>
      </mat-card-content>
</mat-card>
