<mat-card>
    <mat-card-header>
        <mat-card-title>Pacientes en espera</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-list>
              <mat-list-item> <img matListAvatar src="./././assets/img/avatarHombre.png"> 
                Irvin Dereb Vera López 
                <span class="example-spacer"></span>
                <button mat-icon-button matTooltip="Cancelar consulta">
                    <mat-icon aria-hidden="false" aria-label="Example heart icon">close</mat-icon>
                </button>
              </mat-list-item>
              <mat-list-item> <img matListAvatar src="./././assets/img/avatarHombre.png">
                 Raymundo de Jesús Pérez Castellanos 
                 <span class="example-spacer"></span>
                 <button mat-icon-button matTooltip="Cancelar consulta">
                     <mat-icon aria-hidden="false" aria-label="Example heart icon">close</mat-icon>
                 </button>
                </mat-list-item>
              <mat-list-item> <img matListAvatar src="./././assets/img/avatarMujer.png">
                 Jesús Enrique Flores Nestozo
                <span class="example-spacer"></span>
                <button mat-icon-button matTooltip="Cancelar consulta">
                    <mat-icon aria-hidden="false" aria-label="Example heart icon">close</mat-icon>
                </button> 
                </mat-list-item>
             </mat-list>
      </mat-card-content>
</mat-card>
