<mat-grid-list cols="2" rowHeight="100vh">
  <mat-grid-tile class="imagen">    
    <img class="uv-logo" src="../../assets/img/Logo-UV2.jpg" />
  </mat-grid-tile>
  <mat-grid-tile class="card-iniciar-sesion">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Iniciar sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-form #cuentaForm="ngForm">
          <mat-grid-list cols="1" rowHeight="12vh">
            <mat-grid-tile>
              <mat-form-field appearance="standard">
                  <mat-label>Nombre de usuario</mat-label>
                  <input matInput type="text" name="nombreUsuario" [ngModel]="cuenta.nombreUsuarios" required>
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
                <mat-label>Contraseña</mat-label>
                <input matInput name="contrasena" [ngModel]="cuenta.contrasena" type="password" required>
              </mat-form-field>
        </mat-grid-tile>
          </mat-grid-list>
        </ng-form>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" (click)="iniciarSesion(cuentaForm)">INICIAR SESIÓN</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


