<h1 mat-dialog-title>{{accion}} persona</h1>
<mat-dialog-content>
  <ng-form #personaForm="ngForm" (submit)="mostrarPersona()">
      <mat-grid-list cols="2" rowHeight="12vh">
          <mat-grid-tile>
              <mat-form-field appearance="standard">
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" name="nombre" [ngModel]="persona.nombre" required>
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field appearance="standard">
                  <mat-label>Apellidos</mat-label>
                  <input matInput type="text" name="apellidos" [ngModel]="persona.apellidos" required>
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field appearance="standard">
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput type="email" name="correo" [ngModel]="persona.correo" required>
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field appearance="standard">
                  <mat-label>Teléfono</mat-label>
                  <input matInput type="tel" name="telefono" [ngModel]="persona.telefono" required>
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field appearance="standard">
                <mat-label>Genero</mat-label>
                <mat-select name="genero" [ngModel]="persona.genero" required>
                    <mat-option *ngFor="let genero of generos" 
                    [value]="genero">
                    {{genero}}
                  </mat-option>
                </mat-select>
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field appearance="standard">
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input matInput [matDatepicker]="picker" name="fechaNacimiento"
                  [ngModel]="persona.fechaNacimiento" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field appearance="standard">
                  <mat-label>Rol</mat-label>
                  <mat-select name="rol" [ngModel]="persona.rol" required>
                      <mat-option *ngFor="let rol of roles" 
                        [value]="rol">
                        {{rol}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>              
          </mat-grid-tile>
        </mat-grid-list>                
  </ng-form>       
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cerrarDialog()">CANCELAR</button>
  <button mat-button (click)="guardarInformacion(personaForm)"
  disabled="{{!personaForm.valid}}">GUARDAR</button>
</mat-dialog-actions>
