<mat-form-field appearance="standard" class="form-field-full">
  <mat-label>Buscar medicamento</mat-label>
  <input matInput>
</mat-form-field>
<button mat-icon-button matTooltip="Buscar">
  <mat-icon>search</mat-icon>
</button>

<mat-list>
<mat-list-item *ngFor="let medicamento of medicamentos">    
  <mat-icon mat-list-icon>healing</mat-icon>
  <h4 mat-line>{{medicamento.nombre}}</h4>
  <p mat-line> {{medicamento.presentacion}} | {{medicamento.compuesto}} </p>
  <span class="espaciador"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Opciones">
      <mat-icon aria-hidden="false">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="mostrarDialogoMedicamento(medicamento)">
        <mat-icon aria-hidden="false">edit</mat-icon>
        Editar
      </button>
      <button mat-menu-item>
          <mat-icon aria-hidden="false">delete</mat-icon>
        Eliminar
      </button>
    </mat-menu>
</mat-list-item>  
</mat-list>