<mat-toolbar color="primary">        
      <mat-toolbar-row>

        <span>Consultas</span>
        <span class="example-spacer"></span>
        <button mat-icon-button matTooltip="Notificaciones">
            <mat-icon aria-hidden="false" aria-label="Example heart icon">notifications</mat-icon>
        </button>        
      </mat-toolbar-row>
</mat-toolbar>

<app-lista-pacientes></app-lista-pacientes>

<button mat-fab color="primary" class="btn-nueva-consulta"
 matTooltip="Nueva consulta"
  (click)="mostrarDialogoNuevaConsulta()"> 
    <mat-icon>add</mat-icon>
</button>